@import '../_variables';

.app {
  width: 95vw;
  max-width: 75rem;
  margin: 0 auto;

  & .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  & .col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  & .spinner {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
  }

  & .header {
    margin: 3.125rem auto;
  }

  & .banners {
    margin-bottom: 2.8125rem;

    & .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    & .error-message__icon {
      width: auto;
      height: 7rem;
      object-fit: contain;
    }
  }

  & .characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2.8125rem auto;

    & > .col {
      width: 50%;
      margin-right: auto;
      @media (min-width: 1200px) {
        width: 65%;
      }
    }

    & .character-list {
      margin: auto;
      @media (max-width: 600px) {
        margin: 0;
      }
    }

    & .description {
      max-width: 50%;
      min-height: 18.4375rem;
      // position: fixed;
      // right: 0;
      // top: 7.5rem;
      @media (max-width: 600px) {
        margin: 0;
      }
      @media (min-width: 1200px) {
        width: 35%;
      }
    }
  }
}
