@import '../_variables';

.character-description {
  color: $dark;
  background-color: $light;
  padding: 1.5625rem;
  box-shadow: 0px 0px 20px transparentize($dark, 0.75);
  @media (max-width: 890px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & > .row {
    margin: auto;
    @media (min-width: 890px) {
      flex-wrap: nowrap;
    }
  }

  &__img {
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    max-width: 12.5rem;
    @media (max-width: 600px) {
      width: 11.25rem;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2.1875rem;
  }
  &__button {
    margin-bottom: 0.625rem;
  }
  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.8125rem;
  }
  &__text {
    display: block;
    width: 100%;
    min-height: 6rem;
    margin-bottom: 0.8125rem;
  }
  &__comics {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1.125rem;
    &-list {
      width: 100%;
      list-style: none;
      margin: 0.8125rem 0;
    }
    &-item {
      display: block;
      padding: 0.3125rem;
      margin-bottom: 0.625rem;
      box-shadow: 0px 4px 4px transparentize($dark, 0.75);
    }
  }
}
