@import '../_variables';

.comics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  background-color: $light;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__item {
    width: 14.0625rem;
    min-height: 25.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2.5rem 2rem;
    overflow: hidden;
    text-transform: uppercase;
    cursor: pointer;

    &.active,
    &:hover {
      .comics__img {
        transform: scale(1.1);
      }
      .comics__title {
        box-shadow: 0px 0px 20px -1px transparentize($accent, 0.2);
        transform: translateY(0.5rem);
      }
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
  &__img {
    object-fit: cover;
    max-width: 100%;
    max-height: 21.625rem;
    margin-bottom: 0.625rem;
    transition: all 0.5s;
  }
  &__title {
    display: block;
    width: 100%;
    min-height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.625rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.5s;
  }
  &__price {
    font-weight: 700;
    font-size: 1rem;
    color: $medium;
    margin: auto;
    margin-bottom: 0.625rem;
  }
  &__button {
    width: 10.625rem;
    margin: 2.8125rem auto;
  }
}
